<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- font awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>TechBlog Login</title>
</head>
<body>
    <div class = "container login-container">
        <div class="card">
            <div class="card-content">
                 {{{body}}}
            </div>
        </div>
    </div>
<main>
</main>
 <footer class="page-footer grey darken-3">
          <div class="footer-copyright">
            <div class="container">
           Made with 🖤
            <a class="grey-text text-lighten-4 right" href="https://www.tonipow3ll.com/"> <i class="fas fa-toilet-paper fa-2x"></i> </a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/tonipow3ll"> <i class="fab fa-github fa-2x"></i> &nbsp;</a>
            <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/tonipowell13/"> <i class="fab fa-linkedin-in fa-2x"></i>&nbsp; </a>
            </div>
          </div>
        </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>