<h3>Tech Blog</h3>
<div class="section">
    <p class="lead">What's on your mind? Share it with the world!</p>
      <p class="lead">Unsure about signing up? Totally understand.</p>
      <p class="lead">This site was made purely for fun, feel free to reach out to me via the links below, or shoot me an <a href="mailto:tonipow3ll@gmail.com">email</a> directly!</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn darken-1">
    <i class="fab fa-google left"></i>Log In or Sign Up With Google</a>
</div>